@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
    background-color: #000000;
    color: #ffffff;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}